*{
    margin: 0;
    padding: 0;;
}

.home-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}


.picture-container img{
    width: 100%;
    
}
.picture-container{
    margin-right: 50px;
}
.text-container{
    /* margin: none; */
    margin-left: 50px;
    
}
.future-car{
    font-size: 60px;
    color: #2b2a29;
}
.best-car{
    font-size: 60px;
    color:#8585d8;
}
.text-container p{
    text-align: justify;
    margin-top: 4px;
}
.customer-reviews-text{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    text-decoration: underline;
}

.custom-reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    gap: 10px 20px;
}
.show-all-btn{
    margin: 30px;
    padding: 20px;
    font-size: 25px;
    background-color: #c0c9d1;
    border: none;
    border-radius: 15px;
    color: rgb(12, 122, 71);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.show-all-btn:hover{
    background-color: #649696;
}
@media only screen and (max-width: 600px){
    .custom-reviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
        gap: 10px 20px;

    }
}
